[submodule "vimrc/dein.vim"]
	path = vimrc/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "external/fzf.git"]
	path = external/fzf.git
	url = https://github.com/junegunn/fzf.git
[submodule "external/ohmyzsh"]
	path = external/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "external/autojump"]
	path = external/autojump
	url = https://github.com/wting/autojump.git
